.imageCard {
  border-radius: 6px;
  padding: 7px;
  margin: 4px;
  border: solid 1px rgb(216, 216, 216);
  text-align: center;
}

.imageCard img {
  border-radius: 6px;
}

.imagePlaceholder {
  width: 250px;
}
